.leaflet-container {
    min-height: 85vh;
    width: 100%;
}

.leaflet-popup-content-wrapper{
    text-align: center;
    width: 300px;
}

.leaflet-tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

.leaflet-tooltip img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

@keyframes borderResize {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.marker-icon {
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.marker-icon::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid red;
    border-radius: 50%;
    animation: borderResize 1s infinite;
}
.criminal_card_wrapper{
    transition: all .4s!important;
}

.criminal_card_wrapper:hover{
    z-index: 99!important;
}


.center-of-map:before {
  position: absolute;
  content: "\271B";
  color: #000;
  z-index: 990;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 4rem;
}

.center-of-map{
    min-height: 500px!important;
    filter: grayscale(100%);
}