@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-back-color: #000000
}

body{
    background-color: var(--main-back-color);
}

/* Add this to your styles.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Works on Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Works on IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
